@import "./styles/variables";

.app {
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background: @main_gradient;
  height: 60px;
  margin-bottom: 15px;
  align-items: center;

  &_item {
    color: white;
    font-family: monospace;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0 0 2px black;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
